/* Colours */
.mrsRetroBlue {
  color: rgb(103,169,168);
}
.mrsRetroYellow {
  color : rgb(252,238,193);
}
.mrsAliceBlue {
  color : AliceBlue;
}
.mrsAntiqueWhite {
  color : AntiqueWhite;
}
.mrsAqua {
  color : Aqua;
}
.mrsAquamarine {
  color : Aquamarine;
}
.mrsAzure {
  color : Azure;
}
.mrsBeige {
  color : Beige;
}
.mrsBisque {
  color : Bisque;
}
.mrsBlack {
  color : Black;
}
.mrsBlanchedAlmond {
  color : BlanchedAlmond;
}
.mrsBlue {
  color : Blue;
}
.mrsBlueViolet {
  color : BlueViolet;
}
.mrsBrown {
  color : Brown;
}
.mrsBurlyWood {
  color : BurlyWood;
}
.mrsCadetBlue {
  color : CadetBlue;
}
.mrsChartreuse {
  color : Chartreuse;
}
.mrsChocolate {
  color : Chocolate;
}
.mrsCoral {
  color : Coral;
}
.mrsCornflowerBlue {
  color : CornflowerBlue;
}
.mrsCornsilk {
  color : Cornsilk;
}
.mrsCrimson {
  color : Crimson;
}
.mrsCyan {
  color : Cyan;
}
.mrsDarkBlue {
  color : DarkBlue;
}
.mrsDarkCyan {
  color : DarkCyan;
}
.mrsDarkGoldenRod {
  color : DarkGoldenRod;
}
.mrsDarkGray {
  color : DarkGray;
}
.mrsDarkGrey {
  color : DarkGrey;
}
.mrsDarkGreen {
  color : DarkGreen;
}
.mrsDarkKhaki {
  color : DarkKhaki;
}
.mrsDarkMagenta {
  color : DarkMagenta;
}
.mrsDarkOliveGreen {
  color : DarkOliveGreen;
}
.mrsDarkOrange {
  color : DarkOrange;
}
.mrsDarkOrchid {
  color : DarkOrchid;
}
.mrsDarkRed {
  color : DarkRed;
}
.mrsDarkSalmon {
  color : DarkSalmon;
}
.mrsDarkSeaGreen {
  color : DarkSeaGreen;
}
.mrsDarkSlateBlue {
  color : DarkSlateBlue;
}
.mrsDarkSlateGray {
  color : DarkSlateGray;
}
.mrsDarkSlateGrey {
  color : DarkSlateGrey;
}
.mrsDarkTurquoise {
  color : DarkTurquoise;
}
.mrsDarkViolet {
  color : DarkViolet;
}
.mrsDeepPink {
  color : DeepPink;
}
.mrsDeepSkyBlue {
  color : DeepSkyBlue;
}
.mrsDimGray {
  color : DimGray;
}
.mrsDimGrey {
  color : DimGrey;
}
.mrsDodgerBlue {
  color : DodgerBlue;
}
.mrsFireBrick {
  color : FireBrick;
}
.mrsFloralWhite {
  color : FloralWhite;
}
.mrsForestGreen {
  color : ForestGreen;
}
.mrsFuchsia {
  color : Fuchsia;
}
.mrsGainsboro {
  color : Gainsboro;
}
.mrsGhostWhite {
  color : GhostWhite;
}
.mrsGold {
  color : Gold;
}
.mrsGoldenRod {
  color : GoldenRod;
}
.mrsGray {
  color : Gray;
}
.mrsGrey {
  color : Grey;
}
.mrsGreen {
  color : Green;
}
.mrsGreenYellow {
  color : GreenYellow;
}
.mrsHoneyDew {
  color : HoneyDew;
}
.mrsHotPink {
  color : HotPink;
}
.mrsIndianRed {
  color : IndianRed;
}
.mrsIndigo {
  color : Indigo;
}
.mrsIvory {
  color : Ivory;
}
.mrsKhaki {
  color : Khaki;
}
.mrsLavender {
  color : Lavender;
}
.mrsLavenderBlush {
  color : LavenderBlush;
}
.mrsLawnGreen {
  color : LawnGreen;
}
.mrsLemonChiffon {
  color : LemonChiffon;
}
.mrsLightBlue {
  color : LightBlue;
}
.mrsLightCoral {
  color : LightCoral;
}
.mrsLightCyan {
  color : LightCyan;
}
.mrsLightGoldenRodYellow {
  color : LightGoldenRodYellow;
}
.mrsLightGray {
  color : LightGray;
}
.mrsLightGrey {
  color : LightGrey;
}
.mrsLightGreen {
  color : LightGreen;
}
.mrsLightPink {
  color : LightPink;
}
.mrsLightSalmon {
  color : LightSalmon;
}
.mrsLightSeaGreen {
  color : LightSeaGreen;
}
.mrsLightSkyBlue {
  color : LightSkyBlue;
}
.mrsLightSlateGray {
  color : LightSlateGray;
}
.mrsLightSlateGrey {
  color : LightSlateGrey;
}
.mrsLightSteelBlue {
  color : LightSteelBlue;
}
.mrsLightYellow {
  color : LightYellow;
}
.mrsLime {
  color : Lime;
}
.mrsLimeGreen {
  color : LimeGreen;
}
.mrsLinen {
  color : Linen;
}
.mrsMagenta {
  color : Magenta;
}
.mrsMaroon {
  color : Maroon;
}
.mrsMediumAquaMarine {
  color : MediumAquaMarine;
}
.mrsMediumBlue {
  color : MediumBlue;
}
.mrsMediumOrchid {
  color : MediumOrchid;
}
.mrsMediumPurple {
  color : MediumPurple;
}
.mrsMediumSeaGreen {
  color : MediumSeaGreen;
}
.mrsMediumSlateBlue {
  color : MediumSlateBlue;
}
.mrsMediumSpringGreen {
  color : MediumSpringGreen;
}
.mrsMediumTurquoise {
  color : MediumTurquoise;
}
.mrsMediumVioletRed {
  color : MediumVioletRed;
}
.mrsMidnightBlue {
  color : MidnightBlue;
}
.mrsMintCream {
  color : MintCream;
}
.mrsMistyRose {
  color : MistyRose;
}
.mrsMoccasin {
  color : Moccasin;
}
.mrsNavajoWhite {
  color : NavajoWhite;
}
.mrsNavy {
  color : Navy;
}
.mrsOldLace {
  color : OldLace;
}
.mrsOlive {
  color : Olive;
}
.mrsOliveDrab {
  color : OliveDrab;
}
.mrsOrange {
  color : Orange;
}
.mrsOrangeRed {
  color : OrangeRed;
}
.mrsOrchid {
  color : Orchid;
}
.mrsPaleGoldenRod {
  color : PaleGoldenRod;
}
.mrsPaleGreen {
  color : PaleGreen;
}
.mrsPaleTurquoise {
  color : PaleTurquoise;
}
.mrsPaleVioletRed {
  color : PaleVioletRed;
}
.mrsPapayaWhip {
  color : PapayaWhip;
}
.mrsPeachPuff {
  color : PeachPuff;
}
.mrsPeru {
  color : Peru;
}
.mrsPink {
  color : Pink;
}
.mrsPlum {
  color : Plum;
}
.mrsPowderBlue {
  color : PowderBlue;
}
.mrsPurple {
  color : Purple;
}
.mrsRebeccaPurple {
  color : RebeccaPurple;
}
.mrsRed {
  color : Red;
}
.mrsRosyBrown {
  color : RosyBrown;
}
.mrsRoyalBlue {
  color : RoyalBlue;
}
.mrsSaddleBrown {
  color : SaddleBrown;
}
.mrsSalmon {
  color : Salmon;
}
.mrsSandyBrown {
  color : SandyBrown;
}
.mrsSeaGreen {
  color : SeaGreen;
}
.mrsSeaShell {
  color : SeaShell;
}
.mrsSienna {
  color : Sienna;
}
.mrsSilver {
  color : Silver;
}
.mrsSkyBlue {
  color : SkyBlue;
}
.mrsSlateBlue {
  color : SlateBlue;
}
.mrsSlateGray {
  color : SlateGray;
}
.mrsSlateGrey {
  color : SlateGrey;
}
.mrsSnow {
  color : Snow;
}
.mrsSpringGreen {
  color : SpringGreen;
}
.mrsSteelBlue {
  color : SteelBlue;
}
.mrsTan {
  color : Tan;
}
.mrsTeal {
  color : Teal;
}
.mrsThistle {
  color : Thistle;
}
.mrsTomato {
  color : Tomato;
}
.mrsTurquoise {
  color : Turquoise;
}
.mrsViolet {
  color : Violet;
}
.mrsWheat {
  color : Wheat;
}
.mrsWhite {
  color : White;
}
.mrsWhiteSmoke {
  color : WhiteSmoke;
}
.mrsYellow {
  color : Yellow;
}
.mrsYellowGreen {
  color : YellowGreen;
}
